body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 20px;
    border: 5px solid purple;
    background-color: rgb(221, 121, 221); 
    border-radius: 5px;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    padding: 10px;
}
nav{
    background-color: rgb(221, 121, 221);
    border: 2px solid purple;
    padding: 10px;
    text-align: end;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li{
    float: left;
}
nav ul li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a:hover{
    background-color: rgb(221, 121, 221);
    color: white;
}
footer{
    background-color: rgb(221, 121, 221);
    border: 2px solid purple;
    padding: 10px;
    text-align: center;
}
section{
    background-color: rgb(221, 121, 221);
    border: 2px solid purple;
    padding: 10px;
    margin-top: 20px;
    border: 20px;
}
.message{
    background-color: rgb(221, 121, 221);
    border: 2px solid purple;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
}
#home{
    background-color: rgb(170, 40, 170);
    color: black;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}
#home a{
    color: black;
    text-decoration: none;
}
#home a:hover{
    color: white;
}       
#about{
    background-color: rgb(236, 176, 236);
    color: black;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}                                       
#about a{
    color: black;
    text-decoration: none;
}
#about a:hover{
    color: white;
}
#contact{
    background-color: rgb(221, 121, 221);
    color: black;
    padding: 10px;
    border-radius: 5px;
}
#contact a{
    color: black;
    text-decoration: none;
}       